# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Don't mess with .ar files
*.ar binary

# These are all shell scripts
/src/oss-reproducible/BuildHelperScripts/**	text	eol=lf
