<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<targets>
		<target xsi:type="ColoredConsole"
				name="consoleLog"
				encoding="utf-8"
				errorStream="true"
				detectConsoleAvailable="true"
				detectOutputRedirected="true"
				enableAnsiOutput="true"
				layout="${pad:padding=-5:inner=${level:uppercase=true}} - ${message}"
				useDefaultRowHighlightingRules="true">
		</target>
		<target xsi:type="File"
				name="fileLog"
				layout="${date}|${level:uppercase=true}|${message} ${exception}|${all-event-properties}"
				encoding="utf-8"
				lineEnding="default"
				fileName="${currentdir}/oss-gadget.log">
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.CST.OpenSource.*" minlevel="Info" maxLevel="Error" writeTo="consoleLog" ruleName="consoleLog"/>
		<logger name="*" minlevel="Trace" writeTo="fileLog" ruleName="fileLog" />
	</rules>
</nlog>