<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target xsi:type="ColoredConsole"
            name="console"
            encoding="utf-8"
            errorStream="false"
            detectConsoleAvailable="true"
            detectOutputRedirected="true"
            enableAnsiOutput="true"
            layout="${message}"
            useDefaultRowHighlightingRules="true"
            DetectOutputRedirected="true">
    </target>
    <target xsi:type="File"
            name="fileLog"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}"
            encoding="utf-8"
            lineEnding="default"
            fileName="oss-gadget.log">
    </target>
    <target name="detailedFileLog"
            xsi:type="File"
            fileName="oss-gadget-detailed.json">
      <layout xsi:type="JsonLayout"
              includeAllProperties="true">
        <attribute name="time" layout="${longdate}"/>
        <attribute name="level" layout="${level:upperCase=false}"/>
        <attribute name="message" layout="${message}"/>
        <attribute name="exception" layout="${exception}"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.CST.OpenSource.*" minlevel="Info" maxLevel="Error" writeTo="console" />
    <logger name="Microsoft.CST.OpenSource.*" minlevel="Info" writeTo="fileLog,detailedFileLog" />
  </rules>
</nlog>